<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project_GEO</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthUser</display-name>
    <servlet-name>AuthUser</servlet-name>
    <servlet-class>com.tcs.controller.AuthUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthUser</servlet-name>
    <url-pattern>/AuthUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNotification</display-name>
    <servlet-name>SaveNotification</servlet-name>
    <servlet-class>com.tcs.controller.SaveNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNotification</servlet-name>
    <url-pattern>/SaveNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewNotifications</display-name>
    <servlet-name>viewNotifications</servlet-name>
    <servlet-class>com.tcs.controller.viewNotifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewNotifications</servlet-name>
    <url-pattern>/viewNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteNotification</display-name>
    <servlet-name>deleteNotification</servlet-name>
    <servlet-class>com.tcs.controller.deleteNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNotification</servlet-name>
    <url-pattern>/deleteNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBeacon</display-name>
    <servlet-name>deleteBeacon</servlet-name>
    <servlet-class>com.tcs.controller.deleteBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBeacon</servlet-name>
    <url-pattern>/deleteBeacon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBeacon</display-name>
    <servlet-name>AddBeacon</servlet-name>
    <servlet-class>com.tcs.controller.AddBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBeacon</servlet-name>
    <url-pattern>/AddBeacon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotification</display-name>
    <servlet-name>AddNotification</servlet-name>
    <servlet-class>com.tcs.controller.AddNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotification</servlet-name>
    <url-pattern>/AddNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>configBeacon</display-name>
    <servlet-name>configBeacon</servlet-name>
    <servlet-class>com.tcs.controller.configBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configBeacon</servlet-name>
    <url-pattern>/configBeacon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutUser</display-name>
    <servlet-name>LogOutUser</servlet-name>
    <servlet-class>com.tcs.controller.LogOutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutUser</servlet-name>
    <url-pattern>/LogOutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadJSON</display-name>
    <servlet-name>DownloadJSON</servlet-name>
    <servlet-class>com.tcs.controller.DownloadJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadJSON</servlet-name>
    <url-pattern>/DownloadJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRegistration</display-name>
    <servlet-name>ProcessRegistration</servlet-name>
    <servlet-class>com.tcs.controller.ProcessRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRegistration</servlet-name>
    <url-pattern>/ProcessRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeaconJSON</display-name>
    <servlet-name>BeaconJSON</servlet-name>
    <servlet-class>com.tcs.controller.BeaconJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeaconJSON</servlet-name>
    <url-pattern>/BeaconJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Beacon</display-name>
    <servlet-name>Beacon</servlet-name>
    <servlet-class>Beacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Beacon</servlet-name>
    <url-pattern>/Beacon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateToken</display-name>
    <servlet-name>CreateToken</servlet-name>
    <servlet-class>CreateToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateToken</servlet-name>
    <url-pattern>/CreateToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateBeacon</display-name>
    <servlet-name>CreateBeacon</servlet-name>
    <servlet-class>CreateBeacon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBeacon</servlet-name>
    <url-pattern>/CreateBeacon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNotification</display-name>
    <servlet-name>CreateNotification</servlet-name>
    <servlet-class>CreateNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNotification</servlet-name>
    <url-pattern>/CreateNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UuidConfig</display-name>
    <servlet-name>UuidConfig</servlet-name>
    <servlet-class>UuidConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UuidConfig</servlet-name>
    <url-pattern>/UuidConfig</url-pattern>
  </servlet-mapping>
</web-app>